*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
:root{
    --bg-color: #f0f0f1;
    --font-color: #3c434a;
    --btn-color: #2271b1;
    --hover-color: #0a4b78;
    --border-color: #3c434a5d;
    --first-color: #1d2327;
    --second-color: #2c3338;
    --transition: all 0.1s ease-in-out;
}
/*===== STANDARD =====*/
.style-input{
    height: 40px;
    width: 100%;
    outline: none;
    border: 1px solid var(--border-color);
    border-radius: 3px;
    font-size: 1.4rem;
    font-weight: 400;
    padding-left: 7px;
}
.style-input:focus{
    border: 2px solid var(--btn-color);
}
/*===== LOGIN PAGE =====*/
#container-login{
    background-color: var(--bg-color);
    height: 100vh;
    display: flex;
    justify-content: center;
}
#login{
    height: 510px;
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#login h1 img{
    height: 84px;
    width: 84px;
    margin: 20px 0px;
}
.form-login{
    background-color: #fff;
    height: 254px;
    width: 320px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #3c434a5d;
}
.form-login p{
    color: var(--font-color);
    font-size: .85rem;
}
.user-input-name{
    margin-bottom: 20px;
}
.user-input-btn-check{
    margin-top: 15px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.user-input-btn-check label{
    color: var(--font-color);
    font-size: .95rem;
    margin-left: 5px;
}
.user-input-btn-check div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.user-input-btn-check input[type=checkbox]{
    height: 16px;
    width: 16px;
    outline: none;
    border: none;
    border-radius: 3px;
}
.user-input-btn-check input[type=submit]{
    height: 34px;
    width: 69px;
    background-color: var(--btn-color);
    color: #fff;
    outline: none;
    border: none;
    border-radius: 3px;
}
.user-input-btn-check input[type=submit]:hover{
    background-color: var(--hover-color);
    cursor: pointer;
}
.footer-info{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-info p a{
    text-decoration: none;
    color: var(--font-color);
    font-size: 0.8rem;
}
.footer-info p a:hover{
    color: var(--hover-color);
}
/*===== HOME PAGE =====*/
#container-home{
    height: 100vh;
    display: flex;
}
#home-content{
    width: 100%;
    display: flex;
    flex-direction: column;
}
#nav-home-lat{
    background-color: #1d2327;;
    margin-top: 30px;
}
#header{
    width: 100%;
    height: 30px;
    background-color: #1d2327;
    position: absolute;
    left: 0px;
}
#main{
    background-color: #f0f0f1;
    flex: 1 0;
    margin-top: 30px;
}
#footer{
    flex: 0 0 30px;
}
/*===== HEADER =====*/
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/*===== HEADER ESQ =====*/
.header-menu-esq{
    display: flex;
}
.header-menu-esq{
    list-style: none;
}
.header-menu-esq li{
    height: 30px;
    display: flex;
    align-items: center;
}
.header-menu-esq li a i{
    margin-right: 5px;
    font-size: 16px;
    text-align: center;
}
.header-menu-esq li a{
    padding: 5px 10px;
    font-size: .9rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #f0f0f1;
    display: block;
    transition: var(--transition);
}
.header-menu-esq li:hover a{
    background-color: var(--second-color);
}
.header-menu-esq a:hover{
    color: var(--btn-color);
}
.header-menu-esq li:hover .menu-interno{
    display: block;
}
.header-menu-esq .header-item{
    position: relative;
    display: none;
    z-index: 999;
}
.menu-interno{
    position: absolute;
    display: none;
    width: 160px;
    transition: var(--transition);
}
.menu-interno li a{
    width: 100%;
    height: 36px;
    transition: var(--transition);
}
.menu-interno li:hover a{
    color: var(--btn-color);
}
/*===== HEADER DIR =====*/
.header-menu-dir .menu-dir{
    display: flex;
    align-items: center;
}
.menu-dir img{
    width: 18px;
    height: 18px;
    margin-left: 5px;
}
.header-menu-dir a{
    padding: 5px 10px;
    font-size: .9rem;
    font-weight: 400;
    text-decoration: none;
    color: #f0f0f1;
    display: block;
    transition: var(--transition);
    position: relative;
}
.header-menu-dir a:hover{
    background-color: var(--second-color);
    color: var(--btn-color);
}
.sub-menu-dir{
    position: absolute;
    width: 200px;
    background-color: var(--second-color);
    right: 0px;
    padding: 5px;
    display: none;
    transition: var(--transition);
}
.header-menu-dir:hover .sub-menu-dir{
    display: block;
}
.sub-menu-dir .sub-menu-container{
    display: flex;
}
.sub-menu-dir img{
    height: 60px;
    width: 60px;
}
/*===== NAV HEADER LATERAL*/
.nav-menu{
    width: 160px;
}
#nav-home-lat .nav-menu li{
    list-style: none;
    height: 35px;
}
.nav-menu .nav-menu-item .menu-item{
    padding: 5px 10px 10px 13px;
    font-size: .9rem;
    font-weight: 400;
    text-decoration: none;
    color: #f0f0f1;
    transition: var(--transition);
    border-left: 4px solid var(--first-color);
}
.nav-menu li a i{
    margin-right: 7px;
}
.nav-menu .menu-item:hover{
    color: var(--btn-color);
    border-left: 4px solid var(--btn-color);
}
.classRel{
    position: relative;
}
.classAbs{
    position: absolute;
}
.nav-menu-interno{
    display: none;
    width: 160px;
    top: 0px;
    left: 160px;
    background-color: var(--second-color);
}
.nav-menu .nav-menu-item:hover .nav-menu-interno{
    display: block;
}
.nav-menu-interno a{
    padding: 5px 10px 10px 13px;
    font-size: .9rem;
    font-weight: 400;
    text-decoration: none;
    color: #f0f0f1;
    display: block;
    transition: var(--transition);
    border-left: 4px solid var(--second-color);
}
.nav-menu-interno a:hover{
    color: var(--btn-color);
    border-left: 4px solid var(--btn-color);
}
.tamanhoNavLat{
    width: 50px;
}
.ocutarElemnt{
    display: none;
}
.leftPosition{
    left: 50px;
}
/*===== MAIN PAGE =====*/
.title-padrao{
    font-size: 1.9rem;
    font-weight: 400;
    margin: 20px 0px 0px 20px;
}
/*===== PAINEL =====*/
.main-painel{
    padding: 20px;
}
.main-painel .bv-h2-painel{
    height: 225px;
    background-color: var(--first-color);
    display: flex;
    align-items: center;
}
.main-painel .bv-h2-painel h2{
    color: #fff;
    padding-bottom: 30px;
    padding-left: 30px;
    font-size: 3rem;
    font-weight: 400;
}

/*===== USUARIOS =====*/
.main-usuarios{
    padding: 20px;
}
.form-usuarios{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
}
.container-form-esq{
    height: 100%;
}
.container-form-esq select{
    height: 100%;
    outline: none;
    border: 1px solid var(--border-color);
    border-radius: 3px;
}
.form-usuarios select:focus{
    border: 2px solid var(--btn-color);
    color: var(--btn-color);   
}
.form-usuarios input[type=submit]{
    height: 100%;
    border: 1px solid var(--btn-color);
    color: var(--btn-color);
    border-radius: 3px;
    padding: 0px 7px;
}
.form-usuarios input[type=submit]:hover{
    border: 1px solid var(--hover-color);
    color: var(--hover-color);
    cursor: pointer;
}
.container-form-dir{
    height: 100%;
}
.container-form-dir input[type=search]{
    height: 100%;
    outline: none;
    border: 1px solid var(--border-color);
    border-radius: 3px;
    padding-left: 5px;
}
.form-usuarios input[type=search]:focus{
    border: 2px solid var(--btn-color);
    color: var(--btn-color);   
}
.main-usuarios p{
    display: none;
}
.main-paginas{
    padding: 20px;
}
.main-usuarios .table-usuarios{
    width: 100%;
    border: 1px solid var(--border-color);
    border-spacing: 0px;
    margin-top: 20px;
    font-size: 0.9rem;
}
.main-usuarios .table-usuarios td{
    border-bottom: 1px solid var(--border-color);
    border-top: 1px solid var(--border-color);
}
.table-usuarios thead, .tfoot-usuarios{
    height: 37px;
    background-color: #fff;
    text-align: left;
}
.table-usuarios input[type=checkbox]{
    margin-left: 10px;
}
.main-usuarios .table-usuarios tbody{
    text-align: start;
    background-color: var(--bg-color);
}
.table-usuarios a{
    text-decoration: none;
    color: var(--btn-color);
}
.table-usuarios a:hover{
    color: var(--hover-color);
}
.table-usuarios td{
    border-bottom: 1px solid var(--border-color);
    border-top: 1px solid var(--border-color);
}
.table-usuarios tbody .btn-edit{
    display: inline-block;
    height: 30px;
    width: 60px;
    border: 1px solid var(--btn-color);
    color: var(--btn-color);
    text-decoration: none;
    border-radius: 3px;
    text-align: center;
}
.table-usuarios .btn-edit:hover{
    border: 1px solid var(--hover-color);
    color: var(--hover-color);
}
.table-usuarios tbody .btn-edit span{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-usuarios-bottom{
    margin-top: 20px;
}
.table-usuarios .tbody-content td{
    height: 57px;
}
/*===== CONFIGURACAO CADASTRO =====*/
#body-cadastro{
    height: 100vh;
    background-color: var(--bg-color);
}
#body-cadastro header{
    display: none;
}
#main-cadastro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#main-cadastro h1{
    padding: 90px 0px 10px 0px;
}
#main-cadastro h1 img{
    height: 84px;
}
.form-config-cad{
    background-color: #fff;
    width: 320px;
    border: 1px solid var(--border-color);
    padding: 20px;
}
.form-config-cad h4{
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 15px;
}
.form-config-cad .div-title{
    width: 170px;
    font-size: .9rem;
    font-weight: 500;
}
.form-config-cad .d-flex{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}
.form-config-cad input[type=submit]{
    width: 105px;
    height: 30px;
    background-color: var(--btn-color);
    color: #fff;
    border: none;
    outline: none;
    border-radius: 3px;
}
.form-config-cad .input-area{
    height: 30px;
    padding-left: 5px;
    border-radius: 3px;
    border: 1px solid var(--border-color);
    width: 220px;
    outline: none;
}
.form-config-cad .input-area:focus{
    border: 2px solid var(--btn-color);
}
.form-config-cad input[type=submit]:hover{
    background-color: var(--hover-color);
}
/*===== CONFIGURACAO =====*/
#main-config{
    padding: 20px;
}
.form-config .nome, .info-contato{
    margin-bottom: 20px;
}
.form-config h4{
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 20px;
}
.form-config .div-title{
    width: 240px;
    font-size: .9rem;
    font-weight: 500;
}
.form-config .d-flex{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}
.form-config .nome-de-usuario .aviso-nome{
    font-size: .8rem;
    margin-left: 4px;
    display: flex;
    align-items: center;
}
.form-config .input-area-span{
    height: 30px;
    border: 1px solid var(--border-color);
    outline: none;
    border-radius: 3px;
    width: 350px;
    display: flex;
    align-items: center;
}
.form-config .input-area{
    height: 30px;
    border: 1px solid var(--border-color);
    outline: none;
    border-radius: 3px;
    width: 350px;
}
.form-config .input-area:focus{
    border: 2px solid var(--btn-color);
    padding-left: 5px;
}
.form-config .sobre-voce .input-bio{
    height: 100px;
    margin-bottom: 10px;
    display: flex;
    align-items: end;
}
.form-config .bio{
    display: flex;
    flex-direction: row;
}
.form-config .sobre-voce p{
    font-size: .85rem;
    color: var(--font-color);
}
.form-config input[type=submit]{
    width: 105px;
    height: 30px;
    background-color: var(--btn-color);
    color: #fff;
    border: none;
    outline: none;
    border-radius: 3px;
}
.form-config input[type=submit]:hover{
    background-color: var(--hover-color);
}
/*===== FOOTER PAGE =====*/
#footer{
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#footer p{
    font-size: .8rem;
    padding: 10px 20px;
    color: var(--font-color);
}
/*===== RESPONSIVE P =====*/
@media screen and (min-width: 320px){
    /*===== LOGIN PAGE =====*/
    #login h1 img{
        width: 57px;
        height: 57px;
    }
    .form-login{
        width: 270px;
        height: 205px;
    }
    .style-input-mobile{
        height: 30px;
    }
    /*===== HOME PAGE =====*/
    .header-menu-esq .header-item{
display: block;
    }
    #nav-home-lat{
        margin-top: 30px;
        display: none;
    }
    .main-painel .bv-h2-painel h2{
        font-size: 2.2rem;
    }
    #footer .footer-version{
        display: none;
    }
    /*===== USERS PAGE =====*/
    .main-usuarios{
        padding: 0px;
    }
    .form-usuarios {
        flex-direction: column-reverse;
        align-items: start;
        padding-left: 10px;
        height: 70px;
    }
    .form-usuarios div{
        height: 30px;
    }
    .main-usuarios .table-usuarios {
        margin: auto;
        width: 95%;
        border: 1px solid var(--border-color);
        border-spacing: 0px;
        font-size: .8rem;
    }
    .main-usuarios .table-usuarios .info-none-mobile{
        display: none;
    }
    .table-usuarios .tbody-content td {
        height: 90px;
    }
    .table-usuarios tbody .btn-edit{
        margin-top: 10px;
    }
    .table-usuarios thead, .tfoot-usuarios{
        text-align: center;
    }
    .main-usuarios .table-usuarios tbody{
        text-align: center;
    }
    .column-btns{
        display: none;
    }
    .main-usuarios p{
        display: block;
        font-size: 0.85rem;
        font-weight: 500;
        color: var(--font-color);
        text-align: center;
        margin-top: 10px;
    }
    .form-usuarios-bottom{
        display: none;
    }
    /*===== PERFIL PAGE =====*/
    .form-config .div-title {
        font-size: .8rem;
        font-weight: 500;
    }
    .form-config .input-area{
        width: 470px;
        padding-left: 5px;
    }
}
/*===== RESPONSIVE M =====*/
@media screen and (min-width: 375px){
    /*===== USERS PAGE =====*/
    .main-usuarios .table-usuarios {
        width: 95%;
    }
    .main-usuarios p{
        font-size: .9rem;
    }
    
}
/*===== RESPONSIVE G =====*/
@media screen and (min-width: 425px){
    /*===== LOGIN PAGE =====*/
    #login h1 img{
        height: 84px;
        width: 84px;
        margin: 20px 0px;
    }
    .form-login{
        height: 254px;
        width: 320px;
    }
    .style-input-mobile{
        height: 40px;
    }
    /*===== USERS PAGE =====*/
    .main-usuarios .table-usuarios {
        width: 95%;
        font-size: .9rem;
    }
}
/*===== RESPONSIVE TABLET =====*/
@media screen and (min-width: 768px){
    /*===== LOGIN PAGE =====*/
    #login h1 img{
        height: 84px;
        width: 84px;
        margin: 20px 0px;
    }
    .form-login{
        height: 254px;
        width: 320px;
    }
    .style-input-mobile{
        height: 40px;
    }
    /*===== USERS PAGE =====*/
    .main-usuarios .table-usuarios {
        margin-top: 10px;
        width: 95%;
        font-size: 1rem;
    }
    .column-btns{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .column-btns .edit{
        margin-right: 5px;
    }
    .main-usuarios p{
        display: none;
    }
}
@media screen and (min-width: 1024px){
    /*===== LOGIN PAGE =====*/
    #login h1 img{
        height: 84px;
        width: 84px;
        margin: 20px 0px;
    }
    .form-login{
        height: 254px;
        width: 320px;
    }
    .style-input-mobile{
        height: 40px;
    }
    /*===== USERS PAGE =====*/
    .main-usuarios .table-usuarios {
        margin-top: 0px;
        width: 95%;
    }
    .header-menu-esq .header-item{
        display: none;
    }
    #nav-home-lat{
        margin-top: 30px;
        display: block;
    }
    .main-painel .bv-h2-painel h2{
        font-size: 2.2rem;
    }
    #footer .footer-version{
        display: none;
    }
    .main-usuarios{
        padding: 20px;
    }
    .form-usuarios {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .main-usuarios .table-usuarios .info-none-mobile{
        display: table-cell;
    }

}